html {
  margin: 0;
  background: #121212;
  color: #f8f8f8;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
}

body {
  text-align: center;
  margin: 0;
}

b {
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.hidden {
  display: none;
}
.modal {
  display: none;
}
.modal-content {
  background-color: #121212;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 90dvw;
}

.hidden {
  display: none;
}

table {
  width: calc(100% - 20px);
  border-collapse: collapse;
  margin: 10px;
  box-sizing: border-box;
}

th,
td {
  border: 1px solid #848484;
  text-align: center;
  padding: 0;
}

th {
  background-color: #464646;
  font-size: 18px;
}

img {
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  object-fit: cover;
}

#selectedPlayers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#welcomeScreen {
  display: flex;
  flex-direction: column;
  .welcome-info {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 30px;
    h1 {
      color: #f8f8f8;
    }
  }
}

button {
  background: #1e1e1e;
  border: 2px solid #4a4a4a;
  color: #f8f8f8;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 20px;
  margin: 8px;
}

button:disabled {
  background: #121212;
  border: 2px solid #1e1e1e;
  color: #464646;
}

input,
select,
button {
  height: 52px;
  min-width: 52px;
  background: #121212;
  border-radius: 6px;
  border: 1px solid #464646;
  color: #f8f8f8;
}

#podiumContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.player {
  font-size: 24px;
}

td button {
  width: -webkit-fill-available;
  height: auto;
  margin: auto;
  padding: inherit;
}

button.large {
  width: 280px;
  background: #121212;
  border-radius: 6px;
  border: 2px solid #464646;
}

button.short {
  background: #6c668599;
  border-radius: 0;
  border: 2px solid #6c6685;
  display: grid;
  font-size: 12px;
  padding: 4px 0;
  min-width: 40px;
}

.negative {
  color: #ff6441;
  font-weight: 700;
}

.bets-cell {
  min-width: 10px;
  width: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

td.round {
  font-size: 12px;
  min-width: 20px;
}
